body{
	background-color: white;
}

#title{
	font-size: 32px;
}

#colTitle{
	background-color: #c0c5ce;
	border-radius: 10px;
}

#rowAvvisi{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 16px;
}

#container-fluid {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 10%;
	margin-left: 10%;
}
