.container-fluid {
	margin-bottom: 0%;
	margin-right: 0%;
	margin-left: 0%;
}

#colResponse {
	padding-left: 0;
	padding-top: 15px;
	padding-right: 15px;
	height:100%;
}

#colChat {
	padding: 15px 15px 15px 0px;
	height:100%;
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	background-color: #232b2b;
}
