h1 {
    margin: 0px;
    font-size: 50px;
    text-align: center;
}

.container-fluid p {
    font-size: 18px;
}

.row {
    display: flex;
    align-items: center;
    min-height: 1vh;
}

.container-body{
    margin: 1em;
    background-color: white;
    border-radius: 10px;
}

.container-content{
    margin: 1em;
    background-color: white;
    border-radius: 10px;
}

.description{
  text-align: center;
}

.container-fluid img{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	background-color: #232b2b;
}

div .col-md-8.container-content{
  display: table-cell;
  vertical-align: middle;
}
