/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 7-ott-2017, 13.56.03
    Author     : damiano
*/

h1{
  font-family: 'Roboto', sans-serif;
}

.description{
    text-align: center;
    margin-bottom: 1.5em;
}

.description h1{
    text-align: center;
    font-family: 'Roboto', Open Sans;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.container-fluid {
    margin: 5%;
    background-color: white;
    border-radius: 10px;
}

.inner {
    background-color: #ffffff;
    border-radius:10px;
    padding:10px;
}

a{
    margin: 5px;
}

#mapObject{
    margin-bottom: 1em;
}

div .col{
    padding: 0;
}

#profile{
  margin-bottom: 1em;
  border-radius: 5px;
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	background-color: #232b2b;
}
