BODY
{
   background-color: white; 
	 margin-top: 0px; 
	 margin-right: 0px; 
	 margin-bottom: 0px; 
	 margin-left: 0px;	
	
}

td {
	text-align: left;
	vertical-align: top;
}

img {
	border: none;
}

A
{
	FONT-SIZE: 9pt;
	FONT-STYLE: normal;
	COLOR: #005E6A;
	FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
	TEXT-DECORATION: none
}

A:visited
{
	COLOR: #005E6A;
}
A:hover
{
	COLOR: #005E6A;
	TEXT-DECORATION: underline;
}
A:active
{
    COLOR: #005E6A;
}

.area
{
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    COLOR: #A0ABAA;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}

.titolo
{
    FONT-SIZE: 18pt;
    FONT-STYLE: normal;
    COLOR: #005E6A;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}

.tit_p
{
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    COLOR: #005E6A;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}
.special
{
	FONT-SIZE: 9pt;
	FONT-STYLE: normal;
	COLOR: #005E6A;
	FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
	TEXT-DECORATION: none
}
.special:link
{
    COLOR: #005E6A;
}
.special:visited
{
    COLOR: #000000;
}
.special:hover
{
	COLOR: #005E6A;
	text-decoration : underline;
}
.special:active
{
    COLOR: #005E6A;
}

.uninews
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    COLOR: #005E6A;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}
.uninews:link
{
    COLOR: #005E6A;
    FONT-WEIGHT: bold;
}
.uninews:visited
{
    COLOR:  #005E6A;
}
.uninews:hover
{
	COLOR: #ffffff;
	FONT-WEIGHT: bold;
	text-decoration : underline;
}
.uninews:active
{
    COLOR: #005E6A;
}

.uninewsnobold
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    COLOR: #005E6A;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}
.uninewsnobold:link
{
    COLOR: #005E6A;
}
.uninewsnobold:visited
{
    COLOR:  #005E6A;
}
.uninewsnobold:hover
{
	COLOR: #ffffff;
	text-decoration : underline;
}
.uninewsnobold:active
{
    COLOR: #005E6A;
}

.sx
{
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    COLOR: #ffffff;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}
.sx:link
{
    COLOR: #ffffff;
    FONT-WEIGHT: bold;
}
.sx:visited
{
     COLOR: #ffffff;
     FONT-WEIGHT: bold;          
}
.sx:hover
{
	COLOR: #005A6B;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

.sx2nobold
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    COLOR: #005E6A;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}
.sx2nobold:link
{
    COLOR: #005E6A;
}
.sx2nobold:visited
{
    COLOR: #005E6A;
}
.sx2nobold:hover
{
	COLOR: #005E6A;
	text-decoration : underline;
}
.sx2nobold:active
{
    COLOR: #005E6A;	
}
.centrale
{
    FONT-SIZE: 8pt;
	FONT-STYLE: normal;
	COLOR: #005E6A;
	FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
	TEXT-DECORATION: none
}
.centrale:link
{    
	COLOR: #005E6A;
	text-decoration: none;
}
.centrale:visited
{
	COLOR: #005E6A;
	text-decoration: none;
}
.centrale:hover
{
	COLOR: #000000;
	text-decoration : underline;
}
.centrale:active
{
    COLOR: #005E6A;
		text-decoration: none;
}
.history
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    COLOR: #005E6A;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}
.history:link
{
    COLOR: #005E6A;
}
.history:visited
{
    COLOR: #005E6A;
}
.history:hover
{
	COLOR: #000000;
	
}
.history:active
{
    COLOR: #005E6A;
}

.chiusura
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    COLOR: #000000;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none;
		text-align: center;
}
.chiusura:link
{
    COLOR: #000000;
}
.chiusura:visited
{
    COLOR: #000000;
}
.chiusura:hover
{
    COLOR: #000000;
}
.chiusura:active
{
    COLOR: #000000;
}

testo {
	font-family: Arial,Tahoma,Verdana,Helvetica,sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #4d4c4c;
}

.titoli-prima {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;	
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #005E6A;
	width: 100%;
	padding: 5px;
	margin: 0px;
	text-align: left;
	vertical-align: top;
}

.indice
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    COLOR: #005E6A;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}
.indice:link
{
    COLOR: #005E6A;
}
.indice:visited
{
    COLOR: #005E6A;
}
.indice:hover
{
    COLOR: #A0ABAA;
}
.indice:active
{
    COLOR: #005E6A;
}
.testo {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #4d4c4c;
}

.indirizzo {
	font-family: Arial,Tahoma,Verdana,Helvetica,sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #ffffff;
}

.data {
	font-family: Arial,Tahoma,Verdana,Helvetica,sans-serif;
	font-size: 9px;
	color: #005E6A;
	text-decoration: none;
	font-weight: bold;
	text-align: right;
}

.fasciatit
{
    FONT-SIZE: 16pt;
    FONT-STYLE: normal;
    COLOR: #EFEFEF;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}

.fasciatit_s
{
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    COLOR: #EFEFEF;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}

.paragrafo {
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    COLOR: #005E6A;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}

.table_persone {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #4d4c4c;
	border: 1px solid #A0ABAA;
}

.wt
{
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    COLOR: #D1D7D7;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    TEXT-DECORATION: none
}
.wt:link
 {
    COLOR:  #D1D7D7;
	TEXT-DECORATION: none
}
.wt:visited 
{
    COLOR:  #D1D7D7;
	TEXT-DECORATION: none
}
.wt:hover 
{
	COLOR: #D1D7D7;
	TEXT-DECORATION: none
}
.wt:active {
    COLOR:  #D1D7D7;
	TEXT-DECORATION: none
}
.bannerdx
{
		width: 100%;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #a0abaa;
		vertical-align: top;
}
.tablecolored {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #4d4c4c;
	background-color: #E0EADF;
}
